# Varnish environment configuration description. This was derived from
# the old style sysconfig/defaults settings

RELOAD_VCL=1
VARNISH_VCL_CONF={{ varnish_config_path }}/default.vcl
VARNISH_LISTEN_ADDRESS={{ varnish_listen_address }}
VARNISH_LISTEN_PORT={{ varnish_listen_port }}
VARNISH_ADMIN_LISTEN_ADDRESS={{ varnish_admin_listen_address }}
VARNISH_ADMIN_LISTEN_PORT={{ varnish_admin_listen_port }}
VARNISH_PID_FILE={{ varnish_pid_file }}
VARNISH_SECRET_FILE={{ varnish_config_path }}/secret
VARNISH_STORAGE="{{ varnish_storage }}"
VARNISH_TTL={{ varnish_ttl }}
VARNISH_USER=varnish
VARNISH_GROUP=varnish
DAEMON_OPTS="{% for option in varnish_daemon_options %}-p {{ option }}{% if not loop.last %} {% endif %}{% endfor %}"
